body {
  background: black;
  color: white;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  flex: 1;
  padding: 15px;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-3 {
  padding: 3rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid-text {
  width: 350px;
  height: auto;
}

.iguanaArbol {
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 20px 0;
  font-size: 50px;
}

.desc-section {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  width: 100vw;
}

.cafe {
  background: #1e1a13;
}

.icons-section {
  height: 350px;
  background: #1e1a13;
  width: 100vw;
  padding: 1rem 0;
  margin-left: calc(50% - 50vw);
}

.icons-section p {
  padding-top: 10px;
  font-size: 20px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fixed-size-img {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.image-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.footer {
  background: #1e1a13;
  padding: 1rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
