body {
  background: black;
  color: white;
  font-family: "Raleway", sans-serif;
}

.desc-section p,
.icons-section p,
footer p {
  font-weight: 300;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.img-fluid-text {
  width: 350px;
  height: auto;
}

.iguanaArbol {
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 20px 0;
  font-size: 50px;
}

.icons-section {
  height: 280px;
  background: #1e1a13;
  width: 99vw;
  margin-left: calc(50% - 50vw);
  padding: 1rem 0;
}

.icons-section p {
  padding-top: 10px;
  font-size: 20px;
}

.fixed-size-img {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.footer {
  background: #1e1a13;
}
