.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.navbar a {
  color: white;
}

#hero {
  background: url(../img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.card-icons {
  border: none;
}

.fa-solid {
  font-size: 48px;
}

.btn-header {
  background: transparent;
  color: white;
  border: 1px solid #56c0e0;
  border-radius: 4px;
  opacity: 1;
}

.card-img-top {
  height: 200px;
  width: auto;
  object-fit: cover;
}

.btn-custom {
  background: transparent;
  color: #56c0e0;
  border: 1px solid #56c0e0;
  border-radius: 4px;
  opacity: 1;
}

footer {
  background: black;
}
